Repository astronomer/astro-sdk, pull requests merged in 2022-12, with the labels that each got.

#1389 Bump SQL CLI to 0.2.3a0 since 0.2.2 is relased
  sql-cli/pyproject.toml
Labels: product/sql-cli

#1388 Add working examples and tests for all supported connection types
  .github/workflows/ci-sql-cli.yaml
  sql-cli/include/base/config/default/configuration.yml
  sql-cli/include/base/config/dev/configuration.yml
  sql-cli/tests/config/test/configuration.yml
  sql-cli/tests/test___main__.py
Labels: product/sql-cli

#1398 [sql-cli] Fix validate logging
  sql-cli/include/base/config/default/configuration.yml
  sql-cli/sql_cli/__main__.py
Labels: product/sql-cli

#1391 Create .env file on project initialisation + important refactorings (read desc)
  .gitignore
  sql-cli/include/base/.env
  sql-cli/pyproject.toml
  sql-cli/sql_cli/__main__.py
  sql-cli/sql_cli/configuration.py
  sql-cli/sql_cli/connections.py
  sql-cli/sql_cli/project.py
  sql-cli/tests/test_configuration.py
  sql-cli/tests/test_project.py
Labels: product/sql-cli

#1384 Redirect default airflow_home to tmp directory in tests
  .github/workflows/ci-sql-cli.yaml
  sql-cli/noxfile.py
Labels: product/sql-cli

#1406 Fix elapsed seconds for run command
  sql-cli/sql_cli/__main__.py
Labels: product/sql-cli

#1409 Move file config/global/configuration.yml -> config/global.yml
  sql-cli/include/base/config/global.yml
  sql-cli/sql_cli/configuration.py
  sql-cli/sql_cli/constants.py
  sql-cli/sql_cli/project.py
  sql-cli/tests/config/test/configuration.yml
  sql-cli/tests/test_project.py
Labels: product/sql-cli

#1417 Make environment optional for Config instance
  sql-cli/sql_cli/configuration.py
  sql-cli/sql_cli/project.py
  sql-cli/tests/config/test/configuration.yml
  sql-cli/tests/test_configuration.py
Labels: product/sql-cli

#1437 Fix typo in `openlineage_dataset_uri`
  python-sdk/src/astro/sql/operators/append.py
  python-sdk/src/astro/sql/operators/base_decorator.py
  python-sdk/src/astro/sql/operators/dataframe.py
  python-sdk/src/astro/sql/operators/export_table_to_file.py
  python-sdk/src/astro/sql/operators/load_file.py
  python-sdk/src/astro/sql/operators/merge.py
  python-sdk/src/astro/table.py
  python-sdk/tests_integration/sql/test_table.py
Labels: documentation

#1443 Install poetry in nox sessions using session.run using pip instead of session.install
  sql-cli/noxfile.py
Labels: product/sql-cli

#1275 Initial Support for Azure Blob Storage Object
  .github/ci-test-connections.yaml
  .github/workflows/ci-python-sdk.yaml
  python-sdk/pyproject.toml
  python-sdk/src/astro/constants.py
  python-sdk/src/astro/files/locations/__init__.py
  python-sdk/src/astro/files/locations/azure/__init__.py
  python-sdk/src/astro/files/locations/azure/wasb.py
  python-sdk/tests/files/locations/test_wasb.py
  python-sdk/tests/test_constants.py
  python-sdk/tests_integration/conftest.py
  python-sdk/tests_integration/files/locations/test_wasb.py
Labels: safe to test

#1407 Add configurable data dir to project init
  sql-cli/include/base/config/default/configuration.yml
  sql-cli/include/base/config/dev/configuration.yml
  sql-cli/include/base/config/global.yml
  sql-cli/sql_cli/__main__.py
  sql-cli/sql_cli/configuration.py
  sql-cli/sql_cli/connections.py
  sql-cli/sql_cli/constants.py
  sql-cli/sql_cli/project.py
  sql-cli/tests/config/sqlite_non_existent_host_path/configuration.yml
  sql-cli/tests/test___main__.py
  sql-cli/tests/test_project.py
  sql-cli/tests/utils.py
Labels: product/sql-cli

#1484 Bump sql-cli version to 0.3.0a0
  sql-cli/pyproject.toml
Labels: product/sql-cli

#1479 Expose get/set deployment config in SQL CLI
  sql-cli/Makefile
  sql-cli/include/base/config/default/configuration.yml
  sql-cli/include/base/config/dev/configuration.yml
  sql-cli/include/base/config/global.yml
  sql-cli/sql_cli/__main__.py
  sql-cli/sql_cli/cli/config.py
  sql-cli/sql_cli/cli/utils.py
  sql-cli/sql_cli/configuration.py
  sql-cli/sql_cli/constants.py
  sql-cli/sql_cli/project.py
  sql-cli/sql_cli/utils/airflow.py
  sql-cli/tests/cli/test_config.py
  sql-cli/tests/test___main__.py
  sql-cli/tests/test_configuration.py
  sql-cli/tests/test_project.py
Labels: product/sql-cli

#1491 Remove stale .airflow/global directory
  sql-cli/include/base/.airflow/global/.gitkeep
  sql-cli/tests/test_project.py
Labels: product/sql-cli

#1495 Add temp-flow make command
  sql-cli/Makefile
Labels: product/sql-cli
