Repository astronomer/astro-sdk, pull requests merged in 2023-03, with the labels that each got.

#1802 Add sftp dataprovider
  .github/workflows/ci-uto.yaml
  .gitignore
  universal_transfer_operator/pyproject.toml
  universal_transfer_operator/src/universal_transfer_operator/data_providers/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/sftp.py
  universal_transfer_operator/tests/conftest.py
  universal_transfer_operator/tests/data/sample.csv
  universal_transfer_operator/tests/test_data_provider/test_data_provider.py
  universal_transfer_operator/tests/test_data_provider/test_filesystem/test_sftp.py
  universal_transfer_operator/tests/utils/test_dag_runner.py
  universal_transfer_operator/tests/utils/test_utils.py
Labels: product/uto

#1777 Add the DatabaseDataProvider and SqliteDataProvider
  universal_transfer_operator/example_dags/example_universal_transfer_operator.py
  universal_transfer_operator/pyproject.toml
  universal_transfer_operator/src/universal_transfer_operator/constants.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/sqlite.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/aws/s3.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/google/cloud/gcs.py
  universal_transfer_operator/src/universal_transfer_operator/datasets/file/base.py
  universal_transfer_operator/src/universal_transfer_operator/datasets/table.py
  universal_transfer_operator/src/universal_transfer_operator/settings.py
  universal_transfer_operator/test-connections.yaml
  universal_transfer_operator/tests/conftest.py
  universal_transfer_operator/tests/test_data_provider/test_data_provider.py
  universal_transfer_operator/tests/test_data_provider/test_database/test_base.py
  universal_transfer_operator/tests/test_data_provider/test_database/test_sqlite.py
  universal_transfer_operator/tests/test_data_provider/test_filesystem/test_sftp.py
  universal_transfer_operator/tests/utils/test_utils.py
Labels: universal_transfer_operator, product/uto

#1778 Add Snowflake database data provider with example DAGs
  .github/workflows/ci-uto.yaml
  universal_transfer_operator/example_dags/example_universal_transfer_operator.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/snowflake.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/local.py
  universal_transfer_operator/tests/conftest.py
  universal_transfer_operator/tests/test_data_provider/test_data_provider.py
  universal_transfer_operator/tests/test_data_provider/test_database/test_snowflake.py
  universal_transfer_operator/tests/test_data_provider/test_database/test_sqlite.py
  universal_transfer_operator/tests/test_data_provider/test_filesystem/test_local.py
  universal_transfer_operator/tests_integration/conftest.py
  universal_transfer_operator/tests_integration/data
  universal_transfer_operator/tests_integration/test_data_provider/test_databases/test_snowflake.py
  universal_transfer_operator/tests_integration/utils
Labels: universal_transfer_operator, product/uto

#1837 Add argument `skip_on_failure` to `CleanupOperator`
  python-sdk/src/astro/sql/operators/cleanup.py
  python-sdk/tests/sql/operators/test_cleanup.py
Labels: safe to test

#1846 Fix S3provider issue
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/aws/s3.py
  universal_transfer_operator/tests/test_data_provider/test_filesystem/__init__.py
  universal_transfer_operator/tests/test_data_provider/test_filesystem/aws/__init__.py
  universal_transfer_operator/tests/test_data_provider/test_filesystem/aws/test_s3.py
Labels: product/uto

#1848 Bump astro-runtime 7.4.0 version
  python-sdk/dev/Dockerfile
  python-sdk/tests_integration/astro_deploy/Dockerfile
  universal_transfer_operator/dev/Dockerfile
Labels: product/uto

#1829 Implement transfer for BigQuery - read/write
  universal_transfer_operator/example_dags/example_universal_transfer_operator.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/google/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/google/bigquery.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/snowflake.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/sqlite.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/aws/s3.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/google/cloud/gcs.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/local.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/sftp.py
  universal_transfer_operator/src/universal_transfer_operator/datasets/file/base.py
  universal_transfer_operator/tests/conftest.py
  universal_transfer_operator/tests/test_data_provider/test_data_provider.py
  universal_transfer_operator/tests_integration/test_data_provider/test_databases/test_base.py
  universal_transfer_operator/tests_integration/test_data_provider/test_filesystem/test_aws/test_s3.py
  universal_transfer_operator/tests_integration/test_data_provider/test_filesystem/test_google/test_cloud/test_gcs.py
  universal_transfer_operator/tests_integration/test_data_provider/test_filesystem/test_local.py
  universal_transfer_operator/tests_integration/test_data_provider/test_filesystem/test_sftp.py
Labels: product/uto

#1849 Fix mypy type checks
  .pre-commit-config.yaml
  universal_transfer_operator/pyproject.toml
  universal_transfer_operator/src/universal_transfer_operator/constants.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/google/bigquery.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/snowflake.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/sqlite.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/__init__.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/aws/s3.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/google/cloud/gcs.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/local.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/sftp.py
  universal_transfer_operator/src/universal_transfer_operator/datasets/base.py
  universal_transfer_operator/src/universal_transfer_operator/datasets/dataframe/pandas.py
  universal_transfer_operator/src/universal_transfer_operator/datasets/file/base.py
  universal_transfer_operator/src/universal_transfer_operator/datasets/table.py
  universal_transfer_operator/src/universal_transfer_operator/integrations/base.py
  universal_transfer_operator/src/universal_transfer_operator/integrations/fivetran.py
  universal_transfer_operator/src/universal_transfer_operator/settings.py
  universal_transfer_operator/src/universal_transfer_operator/universal_transfer_operator.py
  universal_transfer_operator/src/universal_transfer_operator/utils.py
Labels: product/uto

#1858 Bump runtime to 7.4.1
  python-sdk/dev/Dockerfile
  python-sdk/tests_integration/astro_deploy/Dockerfile
  universal_transfer_operator/dev/Dockerfile
Labels: product/uto

#1841 Fix astro flow deploy integration by having a conditional sql_cli import
  sql-cli/pyproject.toml
  sql-cli/sql_cli/macros/load_file.py.jinja2
  sql-cli/sql_cli/macros/transform_file.py.jinja2
  sql-cli/sql_cli/templates/gen_tasks_dag.py.jinja2
  sql-cli/tests/test_dag_generator.py
Labels: product/sql-cli

#1856 Update config for SQL CLI 0.4.1 and Astro CLI 1.12
  sql-cli/config/astro-cli.json
Labels: product/sql-cli

#1860 Release SQL CLI 0.4.1
  sql-cli/CHANGELOG.md
  sql-cli/pyproject.toml
Labels: product/sql-cli

#1859 Fix database to file issue
  universal_transfer_operator/src/universal_transfer_operator/data_providers/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/database/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/local.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/sftp.py
  universal_transfer_operator/tests/test_data_provider/test_database/test_base.py
  universal_transfer_operator/tests/test_data_provider/test_filesystem/test_sftp.py
  universal_transfer_operator/tests_integration/test_data_provider/test_databases/test_base.py
  universal_transfer_operator/tests_integration/test_data_provider/test_databases/test_snowflake.py
Labels: product/uto

#1871 Fix bug to handle file pattern or directory
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/aws/s3.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/base.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/google/cloud/gcs.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/local.py
  universal_transfer_operator/src/universal_transfer_operator/data_providers/filesystem/sftp.py
  universal_transfer_operator/tests/conftest.py
  universal_transfer_operator/tests/data/pattern_transfer/sample_1.csv
  universal_transfer_operator/tests/data/pattern_transfer/sample_2.csv
  universal_transfer_operator/tests/data/pattern_transfer/sample_3.csv
  universal_transfer_operator/tests/data/pattern_transfer/some_image.png
  universal_transfer_operator/tests/test_data_provider/test_filesystem/test_local.py
  universal_transfer_operator/tests_integration/test_data_provider/test_databases/test_base.py
Labels: universal_transfer_operator, product/uto

#1866 Add example dag for SFTP and Local
  universal_transfer_operator/example_dags/example_universal_transfer_operator.py
Labels: product/uto

#1879 Allow `aql.transform` to receive `sql` filepath (fix breaking change)
  python-sdk/src/astro/sql/operators/base_decorator.py
  python-sdk/tests_integration/sql/operators/transform/test_transform.py
Labels: bug, product/python-sdk
